node_modules
.next
dist
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.turbo
artifacts
cache
out
typechain-types
broadcast
lcov.info
*.tsbuildinfo
.pnpm-store
apps/web/.next
apps/api/dist
apps/worker/dist
packages/*/dist
packages/*/coverage
.idea
.vscode
!contracts/lib
contracts/out
contracts/cache
docker-data
